<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    
    

    <link  type="text/css" href="~/lib/jsgrid/jsgrid.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/jsgrid/jsgrid.js"></script>
    <link  type="text/css" href="~/lib/jsgrid/jsgrid-theme.css" rel="stylesheet" />
    <script>

        $(function () {
            $("#btnClick").click(function () {
                var token = $.parseJSON(localStorage.getItem("token"));
                var accessToken;
                if (token == null) {
                    alert("Giriş Yapmamışsınız");
                    return;
                } else {
                    accessToken = token.token;
                }
                $.ajax({
                    url: "https://localhost:5001/api/personal",
                    type: "GET",
                    crossDomain: true,
                    dataType: "json",
                    headers: { "accept": "application/json", "content-type": "application/json", "authorization": "Bearer " + accessToken },
                    success: function (result) {
                        if (result.length > 0) {
                            var temp = "";

                            var keys = Object.keys(result[0]);

                            console.log(keys);

                            result.forEach((u) => {
                                temp += "<tr>";
                                temp += "<td>" + u.id + "</td>";
                                temp += "<td>" + u.firstName + "</td>";
                                temp += "<td>" + u.lastName + "</td>";
                                temp += "<td>" + u.title + "</td>";
                                temp += "<td>" + u.birthDate + "</td>";
                                temp += "<td>" + u.hireDate + "</td>";
                                temp += "<td>" + u.homePhone + "</td></tr>";
                            })
                            temp += "<br/>"
                            document.getElementById("data").innerHTML = temp;
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("err - " + status + " - " + error);
                    }
                });
            });
            $("#btnLogin").click(function () {
                var username = $("#txtUsername").val();
                var password = $("#txtPassword").val();
                var user = { "username": username, "password": password };
                $.ajax({
                    url: "https://localhost:5001/Authentication",
                    type: "POST",
                    crossDomain: true,
                    data: JSON.stringify(user),
                    contentType: "application/json",
                    success: function (result) {
                        localStorage.setItem("token", JSON.stringify(result));
                        $("#lblResult").text(JSON.stringify(result));
                    },
                    error: function (xhr, status, error) {
                        alert("err - " + status + " - " + error);
                    }
                });
            });
            $("#btnLogout").click(function () {
                if (localStorage.getItem("token") != null) {
                    localStorage.removeItem("token");
                    $("#lblResult").text("");
                } else {
                    alert("Zaten Giriş Yapmamışsınız !!!");
                }
            });
        });
    </script>

</head>
<body>
    <button id="btnClick">Get Service</button>

    <br />
    <input type="text" id="txtUsername" placeholder="Kullanıcı Adı" />
    <br />
    <input type="password" id="txtPassword" placeholder="Şifre" />
    <br />
    <button id="btnLogin"> Giriş Yap</button> | <button id="btnLogout"> Çıkış Yap</button>

    <br />
    <label id="lblResult"></label>

    <br /><br />

    <input type="text" id="addUserName" placeholder="İsim" />
    <input type="text" id="addLastName" placeholder="Soyisim" />
    <input type="text" id="addTitle" placeholder="Departman" />
    <button id="saveEmployee">Kayıt Et</button>

    <div class="container">
        <table class="table">
            <thead id="head">
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Title</th>
                    <th>BirthDay</th>
                    <th>HireDay</th>
                    <th>HomePhone</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>



        </table>


    </div>
    
    <div id="jsGrid"></div>

</body>
</html>

